.waveform {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 2px;
  width: 100%;
}

.waveform-bar {
  background-color: #ccc;
  flex: 1;
  min-width: 2px;
  transition: height 0.1s ease;
}

.waveform-bar.played {
  background-color: #A41034;
}
